**/*.plan
**/terraform.tfplan
**/terraform.tfstate
**/.terraform/
**/*.log
**/*.bak
**/*~
**/.*.swp
**/.DS_Store
**/*.tfvars
**/*.pem
**/*.out
**/initTerraform
**/*.tfstate
**/*.json
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
